/* target the iframe directly */
#my-studio-container {
	width: 60%;
    display: inline-block;
}

#my-studio-container iframe {
	width: 100%;
    height: 750px;
}

#upload-section {
	width: 39%;
    float: right;
}

/* #root {
    height: 1000px;
} */